@import url("Custom\CustomCssFile.css");

nav {
  background-color: var(--blk);
  color: var(--wht);
  display: flex;
  justify-content: space-around;
  padding: 0.3%;
  min-height: 40px;
}
.logo {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo h3 {
  font-family:  var(--heading_font);
  /* border: 2px solid yellowgreen; */
  display: inline;
  letter-spacing: 2px;
}

.navlinks {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
}

.navlinks ul {
  display: flex;
  /* border: 2px solid red; */
}
.navlinks ul li {
  list-style: none;
  padding: 0px 12px;
  /* border: 1px solid yellow; */
  margin: 0px 12px;
}
.navlinks ul li a {
  color: var(--wht);
}


@media screen and (max-width: 768px) {
  .navlinks ul li {
    padding: 0px 6px;
    margin: 0px 6px;
  }
}
