@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --blk: #262525;
  --wht: #f1f4f6;
  --para_font: "Montserrat", sans-serif;
  --heading_font: "Play", sans-serif;
  --links_font: "Arsenal SC", sans-serif;
}
